.form-select form-select-sm{
    width: 1rem;
}

.table-div{
    border: 1px solid rgb(172, 172, 172);
    border-radius: 10px;
    padding: 20px;
}

.main-container{
    margin-top: 50px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.main-container-left{
    position: absolute;
    padding-left: 5%;
    top: 12rem;
    left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
}

.main-container-right{
    position: absolute;
    padding-right: 5%;
    top: 12rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
}

.div-footer{
    padding-top: 5%;
}

#h2-paymentForm{
    margin-top: -2rem
}

#paymentForm{
    border: solid 1px black;
    border-radius: 10px;
    border-color: rgb(172, 172, 172);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.txt-vencimento{
    text-align: center;
}

.button-submit-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-submit-enviar input{
    background: none;
    border: none;
    padding: 10px;
    background-color: #198754;
    border-radius: 10px;
    color: white;
}

.button-submit-enviar input:hover{
    background-color: #146c43;
}

.label-form-select, .label-form-checkbox, .label-form-number, .label-form-date-vencimento input{
    margin-top: 10px;
    margin-bottom: 10px;
}

.label-form-select select{
    width: 210px;
    height: 30px;
}

.button-submit-enviar input{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container{
    margin-top: 10px;
}

#buttonUpdate{
    background: none;
    border: none;
    padding: 10px;
    background-color: #2629cf;
    border-radius: 20px;
    color: white;
}

#buttonUpdate{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 1rem;
}

#buttonDelete{
    background: none;
    border: none;
    padding: 10px;
    background-color: #a52222;
    border-radius: 20px;
    color: white;
}


.container-paymentForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espaço entre os inputs */
    
}